# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [1]:
import numpy as np

#### Create an array of 10 zeros

In [2]:
array = np.zeros(10)
print(array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### Create an array of 10 ones

In [3]:
array = np.ones(10)
print(array)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#### Create an array of 10 fives

In [4]:
array = np.full((1,10),5)
print(array)

[[5 5 5 5 5 5 5 5 5 5]]

#### Create an array of the integers from 10 to 50

In [8]:
array = np.arange(10, 51)
print(array)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### Create an array of all the even integers from 10 to 50

In [9]:
array = np.arange(10, 51, 2)
print(array)

[10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50]

##find the memory size of any array

In [57]:
array = np.array([1,2,3,4])
print(array)
print("Data type of array elements :" , array.dtype)
print("Size of item :", array.itemsize,"Byte")
print("Total number of elements on array :",array.size,"elements")
print("Total Size of Array :",array.nbytes,"Bytes")

[1 2 3 4]
Data type of array elements : int64
Size of item : 8 Byte
Total number of elements on array : 4 elements
Total Size of Array : 32 Bytes

#### Create a 3x3 matrix with values ranging from 0 to 8

In [58]:
array = np.arange(9).reshape(3,3)
print(array)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [18]:
array = np.identity(3)
print(array)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [62]:
num = np.random.rand()
print(num)

0.2732733388507954

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [26]:
numbers = np.random.randn(25)
print(numbers)

[-0.25969209 -1.26289912 -1.52558322 -1.33373189  1.07975284 -0.73161062
 -0.61929647 -1.23960921 -0.05718609 -1.40967437  1.19313459 -2.44324181
  1.34552695 -0.94947991  1.501      -0.49187989 -1.81956847  0.64219279
  0.86651793  0.40947638 -0.77748884  0.01629882  0.07313571 -0.74976166
 -1.62470669]

#### Create the following matrix:

In [28]:
array = np.arange(0.01,1.01,0.01)
print(array)

[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1  0.11 0.12 0.13 0.14
 0.15 0.16 0.17 0.18 0.19 0.2  0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28
 0.29 0.3  0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4  0.41 0.42
 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5  0.51 0.52 0.53 0.54 0.55 0.56
 0.57 0.58 0.59 0.6  0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7
 0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8  0.81 0.82 0.83 0.84
 0.85 0.86 0.87 0.88 0.89 0.9  0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98
 0.99 1.  ]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [30]:
array = np.linspace(0, 1, 20)
print(array)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [31]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [35]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
array = mat[2:,1:]
print(array)

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [41]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
num = mat[3,4]
print(num)

20

20

In [44]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
array = mat[:3,1].reshape(3,1)
print(array)

[[ 2]
 [ 7]
 [12]]

array([[ 2],
       [ 7],
       [12]])

In [45]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
array = mat[-1,]
print(array)

[21 22 23 24 25]

array([21, 22, 23, 24, 25])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [46]:
array = mat[-2:,]
print(array)

[[16 17 18 19 20]
 [21 22 23 24 25]]

### Now do the following

#### Get the sum of all the values in mat

In [47]:
print(mat.sum())

325

#### Get the standard deviation of the values in mat

In [48]:
print(np.std(mat))

7.211102550927978

#### Get the sum of all the columns in mat

In [49]:
print(np.sum(mat,axis=0))

[55 60 65 70 75]

####Create a 10*10  matrix with 1 on the border and 0 inside

In [51]:
array = np.zeros((10, 10))
array[0, :] = 1
array[-1, :] = 1
array[:, 0] = 1
array[:, -1] = 1
print(array)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

#### find common values between two arrays

In [52]:
x1 = np.array([0, 2, 2, 2, 4, 5, 1, 4, 8, 5])
x2 = np.array([2, 2, 3, 4, 7, 4, 6, 9, 4, 8])

In [53]:
common_values = np.intersect1d(x1, x2)
print(common_values)

[2 4 8]

####You can use flatten to flatten your array into a 1D array

In [54]:
x = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [55]:
print(x.flatten())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

# Great Job!